@media (min-width: 320px) {

html {
    height: 100%;
}

.block_1 {
    background: url(../img/navigation.png) center 425px no-repeat, 
                url(../img/bg_top.jpg) top no-repeat;    
    width: 2400px;
    height: 515px;  
}

.main__center {
    width: 320px;
    margin: 0 auto; 
}

.logo {
    display*: inline-block;
    margin-top: 70px;
}

}