@font-face {
    font-family: 'LeagueGothic';
            src: url('../fonts/LeagueGothic/LeagueGothicRegular.eot');
            src: url('../fonts/LeagueGothic/LeagueGothicRegular.woff') format('woff'),
                 url('../fonts/LeagueGothic/LeagueGothicRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansLight';
            src: url('../fonts/Open Sans Light/Open Sans Light.eot');
            src: url('../fonts/Open Sans Light/Open Sans Light.woff') format('woff'),
                 url('../fonts/Open Sans Light/Open Sans Light.woff2') format('woff2'),
                 url('../fonts/Open Sans Light/Open Sans Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSansExtraBold';        
            src: url('../fonts/Open Sans ExtraBold/Open Sans ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
}

.block_1 {
    background: url(../img/iphone.png) 1335px 261px no-repeat,
                url(../img/overlay.png) 0 278px no-repeat ,
                url(../img/navigation.png) 1430px 770px no-repeat, 
                url(../img/bg_top.jpg) top no-repeat;
                /*url(../img/bg_bottom.png) bottom no-repeat;*/
    background-size*: , , , ,2400px 120px;
    width: 2400px;
    height: 846px;  
}

.main__center {
    width: 962px;
    margin: 0 auto; 
    border-left*: 1px solid #000;  
    border-right*: 1px solid #000; 
}

.logo {
    display: inline-block;
    margin-top: 51px;
}

.top_menu {     
    float: right;
}

.top_menu__item {
    display: inline-block;
    margin: 75px 1px 0 44px;

}

.top_menu__item a {
    text-decoration: none;
    padding: 0 2px;
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 23px;
    letter-spacing: 0.1px;
    word-spacing: -0.2px;
    color: #fff;
    text-shadow: #696969 1px 1px 3px;    
}

.top_menu__item a:hover {    
    border-bottom: 2px solid #edbfff;
}

li.about {
    margin-left: 43px;
}

.text {
    margin-top: 245px;
    width: 508px;
}

.text {
    display: block;
    
}

.text__p1 {    
    font-family: 'LeagueGothic', Arial, sans-serif;
    color: #fff; 
    font-size: 60px;
    font-weight: normal;
    transform:scale(0.95, 1.005);
    transform-origin: left center;
}

.text__p2 {
    font-family: 'LeagueGothic', Arial, sans-serif;
    margin: -1px 0 5px;
    color: #edbfff; 
    font-size: 32px;
    word-spacing: -2px;    
}

.text__p3 {    
    font-family: 'OpenSansLight', Arial, sans-serif;
    color: #fff;
    font-size: 18px;
    line-height: 1.35;
    word-spacing: -1px;     
}

.block_2 {
    width: 2400px;
    height: 340px;
    border: 1px solid #33253a;    
    background: linear-gradient(to bottom, #745082, #33263a);
}

.about_us_align {
    margin-left: 9px;
}

.about_us {
    display: inline-block;
    margin-top: 78px;    
}

.wrench {
    display: inline-block;
    height: 32px;
    width: 28px;
    margin: 4px 19px 0 0;
    background: url(../img/sprite.png) no-repeat;    
}

.about_us__text {
    display: inline-block;
    width: 226px;    
    vertical-align: top;
}

.about_us__text h2 {
    display: inline-block;
    margin-left: 2px; 
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 30px;
    color: #fff;
    word-spacing: -2px;

}

.about_us__text p {
    margin-top: 7px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
}

.about_us__text a {
    float: right;    
    margin: 19px 4px 0 0;
    text-decoration: none;
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 18px;
    color: #fff;
}

.about_us__text a:hover {
    text-shadow: #fff 1px 1px 2px;
}

.quote {
    display: inline-block;
    height: 32px;
    width: 28px;
    margin: 4px 19px 0 58px;
    background: url(../img/sprite.png) no-repeat;
    background-position: -33px 0;
}

.music {
    display: inline-block;
    height: 32px;
    width: 28px;
    margin: 4px 19px 0 56px;
    background: url(../img/sprite.png) no-repeat; 
    background-position: -66px 0;
}

.block_3 {
    width: 2400px;
    height: 486px;
    border: 1px solid #e6e6e6;    
    background-color: #f9f9f9;
}

.common {    
    background: url(../img/navigation_1.png) 194px 395px no-repeat,
                url(../img/quote.png) 23px 100px no-repeat;
    height: 475px;
}

.common__left {
    display: inline-block;
    margin-top: 120px;
    
}

.common_left__img {
    margin: -3px 10px 0 -1px;
    vertical-align: top;  

}

.common_left__text {
    display: inline-block;
    margin-top: 9px;
    width: 345px;
    word-spacing: -2px;
}

.text_header {
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 30px;
    color: #454545;
    word-spacing: -2px;
}

.text__color {
    color: #edbfff;
}

.text_info {
    margin-top: 8px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 16px;  
    line-height: 1.5; 
    word-spacing: -1px; 
}

.common__right {
    display: inline-block; 
    vertical-align: top;
    margin: 129px 0 0 97px;      
}

.text_content {
    margin*: 11px 0 0 2px;
}

.text_content img {
    margin: 3px 13px 0 0;
}

.text_p {
    display: inline-block;
    margin-top*: 1px;
}

.text_extrabold {
    margin-bottom*: -1px;
    font-family: 'OpenSansExtraBold', Arial, sans-serif;
    font-size: 16px;  
}

.text_info_p {
    margin-top*: 8px;
    font-family: 'OpenSansLight', Arial, sans-serif;
    font-size: 16px;  
    word-spacing: -1px; 
}

.common__right a {
    float: right; 
    margin*: 19px 4px 0 0;
    text-decoration: none;
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 18px;
    color: #454545;
}

.block_4 {
    width: 2400px;
    height: 120px;       
    background-color: #f9f9f9;
}

.icons {    
    text-align: center;
}

.icons img {
    margin-top: 25px;
}

.block_5 {
    width: 2400px;
    height: 396px;       
    background-color: #ececec;
}

.info {
    display*: inline-block;
    padding-top: 97px;
}

.column_left {
    display: inline-block;
    width: 282px;
}

.column_left_header {    
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 48px;
    color: #454545;
    letter-spacing: -1px;
} 

.last_letters {
    color: #b9b9b9;
}

.column_left_p {
    margin-top: 14px;
    font-family: Georgia, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    color: #c5c5c5;
}

.column_middle {
    display: inline-block;
    width: 280px;
    margin-left: 52px;
}

.column__header {
    font-family: 'LeagueGothic', Arial, sans-serif;
    font-size: 30px;
    color: #454545;
    word-spacing: -3px;
}

.column_right {
    display: inline-block;
    width: 282px;
    margin-left: 56px;
}

.block_6 {
    width: 2400px;
    height: 111px;       
    background: url(../img/bg_bottom.jpg) no-repeat;
    box-shadow*: ;
}
